<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yijian.commonlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".application.BaseApplication"
        tools:replace="android:name"
        android:allowBackup="true">

        <activity
            android:name="com.yijian.commonlib.umeng.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- arouter 路由过滤 -->
        <activity android:name=".schamefilter.SchameFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
