<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yijian.workspace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.WorkSpaceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.yijian.workspace"
            android:value="0633251c7577933569229449"/>
        <activity
            android:name=".static_assessment.StaticPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".static_assessment.StaticAssessmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dynamic_assessment.DynamicAssessmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dynamic_assessment.DynamicPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dynamic_assessment.DynamicDragPointActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".commen.WorkSpaceSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkSpaceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".commen.WorkSpaceRecordActivity" />
        <activity android:name=".sport.SportTestActivity" />
        <activity
            android:name=".perfect.PerfectActivity"
            android:launchMode="singleTask" />
        <activity android:name=".perfect.PerfectTestActivity" />
        <activity android:name=".commen.SearchOprationActivity" />
        <activity android:name=".commen.ShareTestActivity" />


        <activity android:name=".static_assessment.DragPointViewActivity" />
        <activity android:name="module.login.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
