<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yijian.staff">

    <uses-sdk tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        //主类
        <activity
            android:name=".mvp.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".mvp.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.forgetpassword.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.reception.ReceptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".mvp.questionnaireresult.QuestionnaireResultActivity" />
        <activity
            android:name=".mvp.physical.PhysicalReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.reception.step1.ReceptionStepOneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.reception.step1.ReceptionStepOneActivity_ycm"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.reception.step2.ReceptionStepTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.reception.step3.ReceptionStepThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.reception.step4.ReceptionStepFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.reception.step5.ReceptionStepFiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.goodsdetail.GoodsDetaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.goodsdetail.GoodsRightSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.huifang.tianxieresult.TianXieHuiFangResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.huifang.history.HuiFangHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.huifang.task.HuiFangTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.edit.VipInfoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.info.VipInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.potential.PotentialViperListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.intent.IntentViperListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.intent.IntentViperDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.outdate.OutdateViperListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.detail.ViperDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.vip.potential.PotentialViperDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.all.AllFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.dailywork.DailyWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.dailywork.LeaveApprovalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.dailywork.LeaveApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.invitation.InvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.complaint.handling.ComplaintHandlingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.complaint.list.ComplaintListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.resourceallocation.ResourceAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.resourceallocation.HistoryResourceAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.resourceallocation.SelectHuiJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.contract.ContractActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.mine.qrcode.MyQRCodeActivity" />
        <activity android:name=".mvp.mine.EditQualificationActivity" />
        <activity
            android:name=".mvp.mine.qualification.MyQualificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.mine.qualification.EditQualificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.seepic.SeePicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.mine.selectheadicon.ClipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.mine.club.ClubActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.vip.potential.AddPotentialActivity"></activity>
        <activity
            android:name=".mvp.mine.calendartable.CalendarTableActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.mine.calendartable.CalendarSettingActivity"></activity>
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.mine.editpassword.EditPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.advice.AdviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.advice.AdviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.goods.GoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>